{% extends "base.html" %}

{% block content %}
    <div class="text">
        <p>
            Starting bootcamp for Python3, link to certificate ->
            <a href="https://www.udemy.com/certificate/UC-62e6fc1f-7102-4736-97a0-0d108e2c7543/" target="_blank">Certificate</a>
        </p>

        <p>
            100 projects in Python3, link to certificate ->
            <a href="https://www.udemy.com/certificate/UC-6486bb20-db31-4fe8-9ef9-3ddbaa3ec461/" target="_blank">Certificate</a>
        </p>
    </div>
{% endblock %}